.left-nav {
	top: 0px;
	position: fixed;
	width: 15%;
}


.main-content {
	margin-left: 15%;
	padding-left: 2%;
}

.left-nav button {
	width: 100%;
}

#bounty {
	height: 500px;
	width: 400px;
	background-position: center center;
	background-repeat: no-repeat;
}

.float-left {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}
