.left-nav {
	margin-left: 5px;
	top: 5px;
	position: fixed;
	width: 100px;
}


.main-content {
	margin-left: 100px;
	padding-left: 5px;
}

.left-nav button {
	width: 100%;
}

#bounty {
	height: 500px;
	width: 400px;
	background-position: center center;
	background-repeat: no-repeat;
}

.float-left {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}
