table {
	/*border-collapse: collapse;*/
	border: 1px solid black;
}

table td {
	border: 1px solid black;
	padding: 10px;
}

.invalid {
	background-color : #999999;
}

.occupied {
	background-color : #cc3333;
}

.playable {
	background-color : #aa3377;
}

.selected {
	background-color : #0077cc;
}

.possible {
	background-color : #32ee32;
}

.empty {
	background-color : #ffffff;
}
